<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
  <form class="js-password-form">
    <label>
      ID
      <input type="text" name="id">
    </label>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </form>
  <button class="js-send">Send</button>
  <button class="js-ajax-attack">Ajax Attack</button>
  <button class="js-server-attack">Server Attack</button>
  <div class="js-form-result"></div>
</body>
<script type="module" src="/js/index.js"></script>
</html>