<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
  <form class="js-password-form">
    <label>
      E-mail
      <input type="text" name="email">
    </label>

    <label>
      Password
      <input type="password" name="password">
    </label>

    <input type="submit" name="submit">
  </form>
  <div class="js-form-result"></div>
</body>
<script src="/js/index.js"></script>
</html>